
  {% extends 'home.html' %}





  {% block subcategorias %}


  


  
    <div class='animated fadeIn' style='font-size: 42px;
    text-align: center;
    background: {{detalle_categoria.color}};
    color: #fff;'>{{detalle_categoria.nombre}}</div>



<div class='container' style='margin-top:10px;'>


<div class="row">
    
    <div class="col-md-6"><img src="../../{{detalle.imagen}}" alt="" class='img-fluid'></div>
    
    <div class="col-md-6">

        <div class="row" style='padding: 60px;
    line-height: 32px;'>
            
            <div class="col-md-12"><h1>{{detalle.nombre}}</h1></div>

            <div class="col-md-12" style="font-size: 20px;">{{detalle.descripcion}}</div>

        </div>










</div>

</div>
  
  {% endblock %}




