
  {% extends 'base.html' %}



  {% block content %}







  
        <div class="container">



        <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Ania</a>
    <ul class="navbar-nav mr-auto">

    {% for item in categoria %}
  <li class="nav-item">
    <a class="nav-link active" style='   color: #000;' href='/subcategoria/{{item.relink}}/'>{{item.nombre}}</a>
  </li>

{% endfor %}



    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"   href="#"><img src="{{cliente.imagen}}" class='img-fluid rounded-circle'></a>
      </li>

      <li class='nav-item'>

<a class="nav-link"   href="/salir">Salir</a>
</li>
     
    </ul>
  </nav>



<!-- <ul class="nav">

  <li class="nav-item">
    <a class="nav-link active" href='#' style='font-size: 38px;     color: #000;'>Ania</a>
  </li>

 
{% for item in categoria %}
  <li class="nav-item">
    <a class="nav-link active" style='padding-top: 27px;     color: #000;' href='/subcategoria/{{item.relink}}/'>{{item.nombre}}</a>
  </li>

{% endfor %}


 <li class='nav-item'>

<a class="nav-link"  style='padding-top: 27px; ' href="/salir">Salir</a>
</li>



 <li class='nav-item'>

<a class="nav-link"  style='padding-top: 11px; ' href="#"><img src="{{cliente.imagen}}" class='img-fluid rounded-circle'></a>
</li>






</ul> -->


          
               



        </div>





        {% block subcategorias %}
        

        {% endblock %}




  
  {% endblock %}